<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <meta charset="utf-8">
  <title></title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="pic2">
  <div class="topnav">
  <a class ="active" href="index.html">
   <div class ="active1">QUARANTINE</div>
   <img class = "icon1" src="love (3).png" alt="">
   <div class ="active2">SUPPORT</div>
  </a>
  <div class="topnav-right">
  <a href="page1.html">MENTAL HEALTH SUPPORT</a>
  <a href="page2.html">WORKOUT SUPPORT</a>
  <a href="page3.html">FOOD SUPPORT</a>
  <a href="page4.html">INFORMATION SUPPORT</a>
  </div>
  </div>
  <h1>Mental Health Support</h1>
  </div>

  <div class="part3">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class ="text0" data-aos="fade-right">"Hi there, how are you? "</div>
  <br>
  <div class ="text1" data-aos="fade-right">"I know, quarantine is a difficult time for all of us..."</div>
  <br>
  <div class ="text" data-aos="fade-right">"Let's take a moment to learn about how to relieve any anxiety we might be feeling about life in quarantine. "</div>
  <br>
  <br>
  <div data-aos="fade-right"><style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius: 2vw;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/69Dr4omavCk' frameborder='0' allowfullscreen></iframe></div></div>
  <br>
  <br>
  <br>
  <br>
  </div>

  <div class="part4">
  <h2 class="title2">OTHER VIDEO RESOURCES:</h2>
  <br>
  <div class="videos">
  <div class=smalltitle>Guided Meditations</div>
  <div class="v"><iframe src='https://www.youtube.com/embed/d4S4twjeWTs' frameborder='0' allowfullscreen></iframe></div>
  <div class="v"><iframe src='https://www.youtube.com/embed/0FR0r0yaG6s' frameborder='0' allowfullscreen></iframe></div>
  <div class="v"><iframe src='https://www.youtube.com/embed/O-6f5wQXSu8' frameborder='0' allowfullscreen></iframe></div>
  </div>
  <br>
  <br>
  <div class="videos">
  <div class=smalltitle>Relaxing Musics</div>
  <div class="v"><iframe src='https://www.youtube.com/embed/YCLnDcEP-1I' frameborder='0' allowfullscreen></iframe></div>
  <div class="v"><iframe src='https://www.youtube.com/embed/nKHBIAdBvZ4' frameborder='0' allowfullscreen></iframe></div>
  <div class="v"><iframe src='https://www.youtube.com/embed/pOgnGssYLG0' frameborder='0' allowfullscreen></iframe></div>
  </div>
  <br>
  <br>
  </div>

  <div class="part5">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class ="text2" data-aos="zoom-in" data-aos-duration="1000">"If your depressed mood lasts for more than two weeks, you may want to seek professional help."</div>
  <br>
  <br>
  <div class ="containerbox" data-aos="flip-left" data-aos-duration="2000">
  <div class ="webs">
  <p> Chinese Websites </p>
  <a href="https://www.xinli001.com/">YiXinli</a>
  <br>
  <br>
  <a href="https://www.jiandanxinli.com/">JiandanXinli</a>
  <br>
  <br>
  <a href="https://www.psy525.cn/">525Xinliwang</a>
  <br>
  <br>
  <a href="https://www.ydl.com/">Yidianling</a>
  <br>
  <br>
  <a href="http://www.songguo88.com/">SongguoQingsu</a>
  </div>
  <div class ="webs">
  <p> English Websites </p>
  <a href="https://www.betterhelp.com/get-started/?go=true&transaction_id=102e4f9f1cd2bcc8ca7a94dc16c1b7&utm_source=affiliate&utm_campaign=1339&utm_medium=Desktop&utm_content=&utm_term=&not_found=1&gor=start">Betterhelp</a>
  <br>
  <br>
  <a href="https://calmerry.com/quality-therapy-online/?ho_tr_id=10242c6afd60f88ce6d761e25f15ad&utm_source=affiliate&utm_medium=Natural+Intelligence&campaign=">Calmerry</a>
  <br>
  <br>
  <a href="https://cerebral.com/?irclickid=yJkTijU8sxyIT6m2yR1sJXLLUkGSUT06WwU4Ts0&utm_medium=impact&utm_source=affiliate&utm_campaign=Impact-Natural%20Intelligence%20LTD%2C-12128-Cerebral%20Homepage&irgwc=1">Cerebral</a>
  <br>
  <br>
  <a href="https://www.talkspace.com/?irclickid=yJkTijU8sxyIT6m2yR1sJXLLUkGSUTxzWwU4Ts0&irgwc=1&utm_medium=affiliate&utm_campaign=Affiliate_Impact&utm_source=Natural%20Intelligence%20LTD%2C&utm_keyword=TEXT_LINK&utm_term=34020&utm_content=Talkspace%20-%20HomePage&utr_adid=1164803&utr_adgroup=34020">Talkspace</a>
  <br>
  <br>
  <a href="https://www.online-therapy.com/?ref=262007&click_id=1022df9188d30cfcdf166ae4265895&utm_source=1007_Natural+Intelligence&utm_medium=affiliate&utm_term=US_Desktop_PPC&utm_content=desk_isCm5Ixy6Q&utm_campaign=3&offer_ref=offer2">Online-Therapy.com</a>
  <br>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  </div>

  <div class="part6">

    <h2>POSITIVE MESSAGE BOX:</h2>

    <section id="app">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="comment">
              <p v-for="items in item" v-text="items"></p>
                </div><!--End Comment-->
                </div><!--End col -->
                </div><!-- End row -->
            <div class="row">
              <div class="col-6">
            <textarea type="text" class="input" placeholder="Say something to support and comfort others who are also in quarantine..." v-model="newItem" @keyup.enter="addItem()"></textarea>
            <div class="form">
                <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Send Your Message</button>
</div>
              </div><!-- End col -->
            </div><!--End Row -->
          </div><!--End Container -->
        </section><!-- end App -->
        <!-- Vue JS -->

      </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <script  src="script.js"></script>
    <script  src="script2.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
